body {
    background-color: #fffbf7;
    margin: 0;
}

h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 24px;
}

p{
    color: #8b8b8bcc;
    margin-top: 15px;
}
h4 {
    color:#46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}

button {
    background-color: #025157;
    color: #fff;
    border:none;
    margin-left: -10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form {
    height: 55px;
}

.header > *{
    display:inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.header {
   margin: 40px 20px 0;
   font-size: 0px;
}

.header li{
    display:inline-block;
    margin: 0 20px;
}

.logo {
    width:20%;
}

.logo > img {
    height:100%;
}

.navbar {
    text-align: center;
    color: #025157;
    font-weight: 500;
    background-color: #fffbf7;
}

.actions {
    width:20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > a {
    margin-right: 20px;
}

.actions > button {
    width: 65%;
}

.signup-form{
    height: 55px;
}

input{
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
}

input, button{
    height: 100%;
    border-radius: 8px;
}
.main {
    margin: 285px 0 25px;
    text-align: center;
}

.main .segunda-imagen {
    text-align: center;
    width:70%;
    margin: 30px 0;
}

.promo {
    display:flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
}

.publish{
    flex: 1;
}

.publish h3{
    font-family: 'Alegreya', serif;
    color: #025157;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
}

.publish > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish .botonera {
    display: flex;
}


.publish .botonera > p {
    color: #8b8b8bcc;
    margin-right: 18px;
}



.promo .explanatory-video {
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.promo .explanatory-video .image {
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.features {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2,1fr);
    height: 660px;
    background-color: #025157;
    padding: 5% 10%;
   /* grid-template-columns: 300px 300px;
   grid-template-columns: 500px 1fr; <--Una fracción de lo que quede
   grid-template-columns: 1fr 1fr <-- 50%;
   grid-template-columns: repeat (2,300px)*/
}

.features .feature-card {
    display: flex;
    flex-direction: row;
    margin: 0 15px 30px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
}

.features .feature-card .feature-content {
   /* display: flex;
    flex-direction: column;*/
    flex: 2;
    padding: 70px 20px 60px 40px;
}

.features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-content img {
    width: 50px;
}

.features .feature-card .feature-content figure {
    margin-left: 0;
}

.features .feature-card .feature-image {
    flex: 1;
    position: relative;
    width: 40%;
    right:-50px;
    height: 80%;
    transition: right 1s; /*Señala qué va a cambiar, en este caso el right*/
}

.features .feature-card .feature-image:hover {
    right:0;
}

.features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.features .feature-card .feature-content p {
    font-size: 1rem;
    color: #7e7e7e;
    font-weight: 400;
}

.features .feature-card .feature-content a {
    font-size: 1rem;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
    margin-top:0;
    height: 100%;
}

.navbar-light .nav-item .nav-link {
    color: #025157;
}

.navbar-light .navbar-toggler {
    border-color: #025157;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar button {
    background-color: #67b54b;
}

.navbar a {
    color: #67b54b;
}

@media (max-width: 425px) {

    .main h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 130px;
    }

    .banner > img {
        width: 100%;
    }

    .promo {
        flex-direction: column;
        width: 90%;
    }

    .explanatory-video > video{
        width: 100%;
    }

    .publish {
        margin-top: 10px;
    }

    .publish h3{
        font-size: 25px;
        line-height: 1.2;
    }

    .publish .botonera {
        flex-direction: column;
    }

    .publish .botonera form{
        height: 50px;
        margin-top: 10px;
    }

    .publish .botonera form > input {
        width: 40%;
    }

    .publish .botonera form > button {
        width: 40%;
    }

    .features {
        grid-template: repeat(4, 1fr) / 1fr; /*primero filas, luego columnas*/
        padding-left: 0;
        padding-right: 0;
    }

    .feature-image {
        display:none;
    }
}

@media (min-width: 426px) and (max-width: 768px) {

    .promo {
        flex-direction: column;
    }

    .explanatory-video > video{
        width: 100%;
    }
}

.card-container {
    background-color: #a1d683;
    padding: 35px;
  }
  .comments h1 {
    color: #025157;
    font-weight: bold;
    text-align: left;
    font-family: "Alegreya", serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 61px;
    letter-spacing: -2px;
    color: #025157;
  }

  .comments p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .comments img {
    width: 450px;
    margin-top: 40px;
    padding-right: 10px;
  }
  .comments .btn-beefy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding-top: 12px;
    text-align: center;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    height: 45px;
    width: 166px;
    transition: all .2s ease-in-out;
  }
  .comments .btn-beefy:hover {
    background-color: #67b54b;
    color: #fff;
  }
  .card-container .stories-carousel .carousel-indicators {
    position: absolute; /** ó: position: static; */
    right: 0;
    bottom: -40px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  .card-container .stories-carousel .card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
  }
  .card-container .stories-carousel .card .card-media {
    position: relative;
  }
  .card-container .stories-carousel .card .card-media .company img {
    max-width: 75%;
  }
  .card-container .stories-carousel .card .card-media .company {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-container .stories-carousel .card .card-media img {
    width: 100%;
    max-height: 18vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card-container .stories-carousel .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .card-container .stories-carousel .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .card-container .stories-carousel .card .card-body .results {
    display: flex;
    align-items: center;
    color: #828282;
  }
  .card-container .stories-carousel .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
  }
  .success-stories .stories-carousel .card .card-body .results p {
    margin-top: 0;
  }
  .card-container .stories-carousel .card .card-footer {
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
  }
  .card-container .stories-carousel .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
  }

  .how-does-it-work {
    background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
}

.how-does-it-work .title {
    font-family: 'Alegreya', serif;
    color: #025157;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
}

.how-does-it-work .description {
    color: #46484c;
    max-width: 60%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

.how-does-it-work .description a {
    color:#67b54b;
}
.how-does-it-work button {
    border-radius: 8px;
    font-size: 14px;
    height: 45px;
    font-weight: 600;
    margin-top: 30px;
}

.how-does-it-work .steps {
    display: grid;
    margin-top: 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how-does-it-work .steps .card-step {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.how-does-it-work .steps .card-step .card-step-image {
    position:relative;
    height: 350px;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-bg {
    width: 100%;
    height: 100%;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-icon {
    top:25px;
    left:25px;
    width:21px;
    position: absolute;
}

.how-does-it-work .steps .card-step .card-step-body h3{
    color: #025157;
    font-size: 30px;
    line-height: 36px;
    font-family:'Alegreya', serif;
    font-weight: 900;
    text-align: center;
}

.how-does-it-work .steps .card-step .card-step-body p {
    color: #46484c;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    height: 85px;
    margin:16px;
    font-family: "Open Sans", sans-serif;
}

.how-does-it-work .steps .card-step .card-step-body a {
    color: #67b54b;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: transparent;
}
/*.success-stories {
    background-color: #a1d683;
    display: flex;
    flex-direction: row;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-around;
}

.success-stories .overwiew {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding-right: 100px;
}
.success-stories .overview h2 {
    font-family: 'Alegreya', serif;
    color: #025157;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
}

.success-stories .overview .brands {
    width: 500px;
    max-width: 100%;
    vertical-align: middle;
}

.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
}

.success-stories .overview button {
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

.success-stories .stories-carousel {
    background-color: pink;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.success-stories .stories-carousel .card {
    position:relative;
    max-width: 370px;
    width: 100%;
    border-radius: 10px;
    background-color:#fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
}

.success-stories .stories-carousel .card .card-media {
    position: relative;
}

.success-stories .stories-carousel .card .card-media figure {
    margin-top: 0;
}

.success-stories .stories-carousel .card .card-media figure img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}

.success-stories .stories-carousel .card .company {
    background-color:  #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
}

.success-stories .stories-carousel .card .company img {
    width: 75%;
}

.success-stories .stories-carousel .card .card-body {
    padding: 25px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

}

.success-stories .stories-carousel .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.success-stories .stories-carousel .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}

.success-stories .stories-carousel .card .card-body .results {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.success-stories .stories-carousel .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
}

.success-stories .stories-carousel .card .card-body .results p {
    color: #8b8b8bcc;
}

.success-stories .stories-carousel .card .card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.success-stories .stories-carousel .card .card-footer button{
    display:block;
    border-radius: 5px;
    font-weight: 600;
    padding: 12px 20px;
    margin-bottom: 20px;
}

.how-does-it-work {
    background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
}

.how-does-it-work .title {
    font-family: 'Alegreya', serif;
    color: #025157;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
}

.how-does-it-work .description {
    color: #46484c;
    max-width: 60%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.how-does-it-work button {
    border-radius: 8px;
    font-size: 14px;
    height: 45px;
    font-weight: 600;
}

.how-does-it-work .steps {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how-does-it-work .steps .card-step {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.how-does-it-work .steps .card-step .card-step-bg {
    position: relative;
    height: 350px;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-icon {
    position: relative;
    top: 25px;
    left: 25px;
    width: 21px;
}

.how-does-it-work .steps .card-step .card-step-body h3{
    color: #025157;
    font-size: 30px;
    line-height: 36px;
    font-family:'Alegreya', serif;
    font-weight: 900;
    text-align: center;
}

.how-does-it-work .steps .card-step .card-step-body p {
    color: #46484c;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    height: 85px;
    margin:0 20px 16px;
    font-family: "Open Sans", sans-serif;
}

.how-does-it-work .steps .card-step .card-step-body a {
    color: #67b54b;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}*/